<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/zhuanInsert}" method="post">
  <table>
    <tr>
      <th colspan="2">添加专业信息</th>
    </tr>
    <tr>
      <td>专业Id</td>
      <td><input type="text" name="zhuanId"></td>
    </tr>
    <tr>
      <td>系别Id</td>
      <td><input type="text" name="xiId"></td>
    </tr>
    <tr>
      <td>专业名称</td>
      <td><input type="text" name="zhuanName"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="点击添加专业信息">
      </td>
    </tr>
  </table>
</form>

</body>
</html>