<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>年级信息表</title>
</head>
<body>

<form th:action="@{/xiUpdate}" method="post">
    <input type="hidden" name="xiId" th:value="${idXi.xiId}">
    <table>
        <tr>
            <th colspan="2">修改系别信息</th>
        </tr>
        <tr>
            <td>系别信息</td>
            <td><input type="text" name="xiName" th:value="${idXi.xiName}"></td>
        </tr>
            <td>
                <input type="submit" value="修改">
            </td>
        </tr>
    </table>
</form>


</body>
</html>