<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/classInsert}" method="post">
  <table>
    <tr>
      <th colspan="2">添加学生信息</th>
    </tr>
    <tr>
      <td>学生Id</td>
      <td><input type="text" name="classId"></td>
    </tr>
    <tr>
      <td>学生姓名</td>
      <td><input type="text" name="className"></td>
    </tr>
    <tr>
      <td>学生性别</td>
      <td>
        <input type="radio" name="classSex" value="男">男
        <input type="radio" name="classSex" value="女">女
        <input type="radio" name="classSex" value="HOMO">HOMO
      </td>
    </tr>
    <tr>
      <td>学生年龄</td>
      <td><input type="text" name="classAge"></td>
    </tr>
    <tr>
      <td>学生成绩</td>
      <td><input type="text" name="classMark"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="点击添加学生信息">
      </td>
    </tr>
  </table>
</form>

</body>
</html>